<div class="archivePage__buttons">
  <button class="archivePage__btn" type="submit">
    <span> Обрати дату випуску </span>
    <svg class="icon icon-arrow-down">
      <use xlink:href="#icon-arrow-down"></use>
    </svg>
  </button>
  <form class="archivePage__form dropdown-form">
    <div class="archivePage__dropdown dropdown">
      <div class="select" data-select="">
        <div class="select__selected-item" data-selected="true">
          <div class="select__selected-title" data-selected-title="" data-selected="true"> Місяць</div>
          <svg class="select__arrow" width="25" data-arrow="" data-selected="true" height="24" viewBox="0 0 25 24"
               fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="arrow-stroke" d="M8.25 9.75L12.5 14.25L16.75 9.75" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </div>
        <div id="archiveFilterMonth" class="select__list" data-list="">
          <div class="select__list-item" data-item="true" data-month-id="1">Січень</div>
          <div class="select__list-item" data-item="true" data-month-id="2">Лютий</div>
          <div class="select__list-item" data-item="true" data-month-id="3">Березень</div>
          <div class="select__list-item" data-item="true" data-month-id="4">Квітень</div>
          <div class="select__list-item" data-item="true" data-month-id="5">Травень</div>
          <div class="select__list-item" data-item="true" data-month-id="6">Червень</div>
          <div class="select__list-item" data-item="true" data-month-id="7">Липень</div>
          <div class="select__list-item" data-item="true" data-month-id="8">Серпень</div>
          <div class="select__list-item" data-item="true" data-month-id="9">Вересень</div>
          <div class="select__list-item" data-item="true" data-month-id="10">Жовтень</div>
          <div class="select__list-item" data-item="true" data-month-id="11">Листопад</div>
          <div class="select__list-item" data-item="true" data-month-id="12">Грудень</div>
        </div>
        <input class="select__input" type="text" data-input="">
      </div>
      <div class="select select-year disabled" data-select="">
        <div class="select__selected-item" data-selected="true">
          <div class="select__selected-title" data-selected-title="" data-selected="true"> Рік</div>
          <svg class="select__arrow" width="25" data-arrow="" data-selected="true" height="24" viewBox="0 0 25 24"
               fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="arrow-stroke" d="M8.25 9.75L12.5 14.25L16.75 9.75" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </div>
        <div id="archiveFilterYear" class="select__list" data-list="">
          <div class="select__list-item" data-item="true">1996</div>
          <div class="select__list-item" data-item="true">1997</div>
          <div class="select__list-item" data-item="true">1998</div>
          <div class="select__list-item" data-item="true">1999</div>
          <div class="select__list-item" data-item="true">2000</div>
          <div class="select__list-item" data-item="true">2001</div>
          <div class="select__list-item" data-item="true">2002</div>
          <div class="select__list-item" data-item="true">2003</div>
          <div class="select__list-item" data-item="true">2004</div>
          <div class="select__list-item" data-item="true">2005</div>
          <div class="select__list-item" data-item="true">2006</div>
          <div class="select__list-item" data-item="true">2007</div>
          <div class="select__list-item" data-item="true">2008</div>
          <div class="select__list-item" data-item="true">2009</div>
          <div class="select__list-item" data-item="true">2010</div>
          <div class="select__list-item" data-item="true">2011</div>
          <div class="select__list-item" data-item="true">2012</div>
          <div class="select__list-item" data-item="true">2013</div>
          <div class="select__list-item" data-item="true">2014</div>
          <div class="select__list-item" data-item="true">2015</div>
          <div class="select__list-item" data-item="true">2016</div>
          <div class="select__list-item" data-item="true">2017</div>
          <div class="select__list-item" data-item="true">2018</div>
          <div class="select__list-item" data-item="true">2019</div>
          <div class="select__list-item" data-item="true">2020</div>
          <div class="select__list-item" data-item="true">2021</div>
          <div class="select__list-item" data-item="true">2022</div>
        </div>
        <input class="select__input" type="text" data-input="">
      </div>
      <!-- select for ie -->
      <select class="_ie-visible" name="month">
        <option value="1">Січень</option>
        <option value="2">Лютий</option>
        <option value="3">Березень</option>
        <option value="4">Квітень</option>
        <option value="5">Травень</option>
        <option value="6">Червень</option>
        <option value="7">Липень</option>
        <option value="8">Серпень</option>
        <option value="9">Вересень</option>
        <option value="10">Жовтень</option>
        <option value="11">Листопад</option>
        <option value="12">Грудень</option>
      </select>
      <select class="_ie-visible" name="year">
        <option value="1996">1996</option>
        <option value="1997">1997</option>
        <option value="1998">1998</option>
        <option value="1999">1999</option>
        <option value="2000">2000</option>
        <option value="2001">2001</option>
        <option value="2002">2002</option>
        <option value="2003">2003</option>
        <option value="2004">2004</option>
        <option value="2005">2005</option>
        <option value="2006">2006</option>
        <option value="2007">2007</option>
        <option value="2008">2008</option>
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
      </select>
    </div>
    {{ drupal_link('Selection'|t, current_path, { attributes: { 'id': 'archiveLinkFilter', 'class':  [ 'disabled', 'archivePage__submit' ], 'data-month-id': '', 'data-year': '' } }, check_access=true) }}
  </form>
</div>

{#{{ drupal_block('views_exposed_filter_block:last_newspapers_block-page_1', wrapper=false) }}#}
