<div class="sidebar__editor sidebar__editor-partners _mob-hidden">
  <h2 class="sidebar__title">{{ 'Partners news'|t }}</h2>
  <div class="editor__box">
    <div class="editor__post">
      <a href="#">
        <img src="/themes/custom/day_theme/assets/imgs/choice1.jpg" alt>
      </a>
      <div class="editor__content">
        <h3>
          <a href="#"> «З кожним кадром ти зростаєш» </a>
        </h3>
      </div>
    </div>
    <div class="editor__post">
      <a href="#">
        <img src="/themes/custom/day_theme/assets/imgs/choice2.jpg" alt>
      </a>
      <div class="editor__content">
        <h3>
          <a href="#"> Від «Журливих душ» до «Шаленого порно» </a>
        </h3>
      </div>
    </div>
    <div class="editor__post">
      <a href="#">
        <img src="/themes/custom/day_theme/assets/imgs/choice3.jpg" alt>
      </a>
      <div class="editor__content">
        <h3>
          <a href="#"> Домівка атлантичної іпатки </a>
        </h3>
      </div>
    </div>
    <div class="editor__post">
      <a href="#">
        <img src="/themes/custom/day_theme/assets/imgs/choice4.jpg" alt>
      </a>
      <div class="editor__content">
        <h3>
          <a href="#"> «Стоп-Земля» – моя особиста утопія» </a>
        </h3>
      </div>
    </div>
    <div class="editor__post">
      <a href="#">
        <img src="/themes/custom/day_theme/assets/imgs/choice5.jpg" alt>
      </a>
      <div class="editor__content">
        <h3>
          <a href="#"> Уроки безпринципності </a>
        </h3>
      </div>
    </div>
  </div>
</div>
