<div class="partners__list customize-controls">
  <h3 class="partners__title"> Новини партнерів: </h3>
  <div class="partners__slider">
    <article class="news news__small">
      <a href="#">
        <div class="news__small-img">
          <img class="lazy" data-src="/themes/custom/day_theme/assets/imgs/partners1.jpg" alt width="244" height="180">
        </div>
      </a>
      <div class="news__small-content">
        <p> 15 травня, 15:00 </p>
        <a href="#">
          <h2> Зеленський: Україна може мати "план Б", гарантами безпеки за яким будуть США та ЄС </h2>
        </a>
      </div>
    </article>
    <article class="news news__small">
      <a href="#">
        <div class="news__small-img">
          <img class="lazy" data-src="/themes/custom/day_theme/assets/imgs/partners2.jpg" alt width="244" height="180">
        </div>
      </a>
      <div class="news__small-content">
        <p> 15 травня, 15:00 </p>
        <a href="#">
          <h2> "Cуд" в окупованому Криму заочно засудив лідера Меджлісу до шести років колонії </h2>
        </a>
      </div>
    </article>
    <article class="news news__small">
      <a href="#">
        <div class="news__small-img">
          <img class="lazy" data-src="/themes/custom/day_theme/assets/imgs/partners3.jpg" alt width="244" height="180">
        </div>
      </a>
      <div class="news__small-content">
        <p> 15 травня, 15:00 </p>
        <a href="#">
          <h2> Зеленський призначив Сибігу заступником голови ОП з питань зовнішньої політики </h2>
        </a>
      </div>
    </article>
    <article class="news news__small">
      <a href="#">
        <div class="news__small-img">
          <img class="lazy" data-src="/themes/custom/day_theme/assets/imgs/partners4.jpg" alt width="244" height="180">
        </div>
      </a>
      <div class="news__small-content">
        <p> 15 травня, 15:00 </p>
        <a href="#">
          <h2> Українець Ігор Радівілов виграв "золото" на Чемпіонаті Європи зі спортивної гімнастики </h2>
        </a>
      </div>
    </article>
    <article class="news news__small">
      <a href="#">
        <div class="news__small-img">
          <img class="lazy" data-src="/themes/custom/day_theme/assets/imgs/partners1.jpg" alt width="244" height="180">
        </div>
      </a>
      <div class="news__small-content">
        <p> 15 травня, 15:00 </p>
        <a href="#">
          <h2> Зеленський: Україна може мати "план Б", гарантами безпеки за яким будуть США та ЄС </h2>
        </a>
      </div>
    </article>
    <article class="news news__small">
      <a href="#">
        <div class="news__small-img">
          <img class="lazy" data-src="/themes/custom/day_theme/assets/imgs/partners2.jpg" alt width="244" height="180">
        </div>
      </a>
      <div class="news__small-content">
        <p> 15 травня, 15:00 </p>
        <a href="#">
          <h2> "Cуд" в окупованому Криму заочно засудив лідера Меджлісу до шести років колонії </h2>
        </a>
      </div>
    </article>
    <article class="news news__small">
      <a href="#">
        <div class="news__small-img">
          <img class="lazy" data-src="/themes/custom/day_theme/assets/imgs/partners3.jpg" alt width="244" height="180">
        </div>
      </a>
      <div class="news__small-content">
        <p> 15 травня, 15:00 </p>
        <a href="#">
          <h2> Зеленський призначив Сибігу заступником голови ОП з питань зовнішньої політики </h2>
        </a>
      </div>
    </article>
    <article class="news news__small">
      <a href="#">
        <div class="news__small-img">
          <img class="lazy" data-src="/themes/custom/day_theme/assets/imgs/partners4.jpg" alt width="244" height="180">
        </div>
      </a>
      <div class="news__small-content">
        <p> 15 травня, 15:00 </p>
        <a href="#">
          <h2> Українець Ігор Радівілов виграв "золото" на Чемпіонаті Європи зі спортивної гімнастики </h2>
        </a>
      </div>
    </article>
  </div>
</div>
