<div class="sidebar__poll">
  <h2 class="sidebar__title"> Опитування </h2>
  <form>
    <strong> Чи повинно рішення про запровадження в Україні ринку купівлі/продажу земель сільськогосподарського призначення прийматися на всеукраїнському референдумі? </strong>
    <div>
      <input type="radio" id="radio11" value="radio11" name="choice">
      <label for="radio11"> Не підтримую таку ініціативу; </label>
    </div>
    <div>
      <input type="radio" id="radio22" value="radio22" name="choice">
      <label for="radio22"> Підтримую, і однозначно готовий (а) брати участь; </label>
    </div>
    <div>
      <input type="radio" id="radio33" value="radio33" name="choice">
      <label for="radio33"> Сумніваюсь в доречності проведення такого референдуму в нинішніх умовах; </label>
    </div>
    <div>
      <input type="radio" id="radio44" value="radio44" name="choice">
      <label for="radio44"> Підтримую, але брати участь не буду; </label>
    </div>
    <div>
      <input type="radio" id="radio55" value="radio55" name="choice">
      <label for="radio55"> Я взагалі проти запровадження в Україні ринку купівлі/продажу земель сільськогосподарського призначення в нинішніх умовах. </label>
    </div>
    <div>
      <input type="submit" value="Голосувати">
    </div>
  </form>
  <ul class="poll__link">
    <li>
      <a href="#"> Старі опитування </a>
    </li>
    <li>
      <a href="#"> Результати </a>
    </li>
  </ul>
</div>
