<div class="sidebar__video _video">
  <h2 class="sidebar__title"> Відео </h2>
  <div class="sidebar__box">
    <a href="./video-article.html">
      <article>
        <div>
          <img src="/themes/custom/day_theme/assets/imgs/video1.jpg" alt>
          <svg class="icon icon-play">
            <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-play"></use>
          </svg>
        </div>
        <h4>Радість життя</h4>
      </article>
    </a>
    <a href="./video-article.html">
      <article>
        <div>
          <img src="/themes/custom/day_theme/assets/imgs/video2.jpg" alt>
          <svg class="icon icon-play">
            <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-play"></use>
          </svg>
        </div>
        <h4>Поміж полюсами сакрального і профанного</h4>
      </article>
    </a>
    <a href="./video-article.html">
      <article>
        <div>
          <img src="/themes/custom/day_theme/assets/imgs/video3.jpg" alt>
          <svg class="icon icon-play">
            <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-play"></use>
          </svg>
        </div>
        <h4>Театр тіней Fireflies присвятив виступ героям Майдану й АТО</h4>
      </article>
    </a>
    <a href="./video-article.html">
      <article>
        <div>
          <img src="/themes/custom/day_theme/assets/imgs/video4.jpg" alt>
          <svg class="icon icon-play">
            <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-play"></use>
          </svg>
        </div>
        <h4>У Чикаго танцювали гопак на параді до Дня Подяки</h4>
      </article>
    </a>
  </div>
</div>
