.table {
	width: 100%;
	margin-bottom: 30px;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	overflow-wrap: break-word;

	&__data,
	&__header {
		padding: 10px;
		border: 1px solid #0f141a;
		text-align: left;
	}
}