<!-- Custom Cursor  -->
<div class="cursor"> {{ 'read'|t }} </div>

<div class="cursor-swipe">
  <svg class="icon icon-swipe">
    <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-swipe"></use>
  </svg>
</div>
