<ul class="nav__list">
  <li>
    <a href="/article/den-ukrayiny">День України</a>
  </li>
  <li>
    <a href="/article/den-planety">День планети</a>
  </li>
  <li>
    <a href="/article/polityka">Політика</a>
  </li>
  <li>
    <a href="/article/ekonomika">Економіка</a>
  </li>
  <li>
    <a href="/article/cuspilstvo">Суспільство</a>
  </li>
  <li>
    <a href="/article/kultura">Культура</a>
  </li>
  <li>
    <a href="/article/media">Медіа</a>
  </li>
  <li>
    <a href="http://incognita.day.kyiv.ua/">Україна Incognita</a>
  </li>
  <li>
    <a href="/article/taym-aut">Тайм-аут</a>
  </li>
  <li>
    <a href="/article/top-net">Top-net</a>
  </li>
  <li>
    <a href="/article/podorozhi">Подорожі</a>
  </li>
  <li>
    <a href="/article/ukrayintsi-chytayte">Українці - читайте</a>
  </li>
</ul>
