<ul class="nav__list" role="menu">
{#  <li>#}
{#    <a href="./category-page-news.html">Головні новини</a>#}
{#  </li>#}
  <li>
    <a href="/news/polityka">Політичні</a>
  </li>
  <li>
    <a href="/news/svit">Світові</a>
  </li>
  <li>
    <a href="/news/ekonomika">Економічні</a>
  </li>
  <li>
    <a href="/news/kultura">Культурні</a>
  </li>
  <li>
    <a href="/news/suspilstvo">Суспільні</a>
  </li>
  <li>
    <a href="/news/media">Медійні</a>
  </li>
  <li>
    <a href="/news/podiyi">Події</a>
  </li>
</ul>

