{% if menu_newspaper_tags %}

  <ul class="nav__list" role="menu">
    {% for menu_newspaper_tag in menu_newspaper_tags %}
      <li>
        <a href="{{ menu_newspaper_tag.url }}">{{ menu_newspaper_tag.label }}</a>
      </li>
    {% endfor %}
  </ul>

{% endif %}
