{% if menu_news_tags %}

  <ul class="nav__list" role="menu">
    {% for menu_news_tag in menu_news_tags %}
      <li>
        <a href="{{ menu_news_tag.url }}">{{ menu_news_tag.label }}</a>
      </li>
    {% endfor %}
  </ul>

{% endif %}
