<div class="share">
  <div class="share__text">{{ 'Share'|t }}:</div>
  <!-- AddToAny BEGIN -->
  <div class="a2a_kit">
    <a class="a2a_button_facebook">
      <svg class="icon icon-share-fb">
        <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-share-fb"></use>
      </svg>
    </a>
    <a class="a2a_button_twitter">
      <svg class="icon icon-share-twitter">
        <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-share-twitter"></use>
      </svg>
    </a>
    <a class="a2a_button_instagram">
      <svg class="icon icon-share-tg">
        <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-share-tg"></use>
      </svg>
    </a>
    <a href="" class="copy__link copyLink">
      <svg class="icon icon-share-link">
        <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-share-link"></use>
      </svg>
    </a>
  </div>
  <script>
    var a2a_config = a2a_config ||
      {};
    a2a_config.locale = "ua";

  </script>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
</div>
