<div class="sidebar__fb">
  <h2 class="sidebar__title2">{{ 'We are in social networks'|t }}</h2>
  <!-- place for widget fb -->
  <div style="margin-bottom:5px">
    <fb:like-box href="http://www.facebook.com/thedaynewspaper" width="300" height="90" show_faces="false" stream="false" border_color="ffffff" header="false" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=650402038447283&amp;container_width=0&amp;header=false&amp;height=90&amp;href=http%3A%2F%2Fwww.facebook.com%2Fthedaynewspaper&amp;locale=uk_UA&amp;sdk=joey&amp;show_faces=false&amp;stream=false&amp;width=300"><span style="vertical-align: bottom; width: 300px; height: 70px;"><iframe class="lazy" name="ff320715d09e" width="300px" height="90px" scrolling="no" data-src="https://web.facebook.com/v6.0/plugins/like_box.php?app_id=650402038447283&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1ecd9bbce7ed64%26domain%3Dday.kyiv.ua%26origin%3Dhttps%253A%252F%252Fday.kyiv.ua%252Ffaeefb760fe868%26relation%3Dparent.parent&amp;container_width=0&amp;header=false&amp;height=90&amp;href=http%3A%2F%2Fwww.facebook.com%2Fthedaynewspaper&amp;locale=uk_UA&amp;sdk=joey&amp;show_faces=false&amp;stream=false&amp;width=300" style="border: none; visibility: visible; width: 300px; height: 70px;" class=""></iframe></span></fb:like-box>
  </div>
  <!-- place for widget twiiter -->
  <iframe class="lazy" id="twitter-widget-0" scrolling="no" data-src="https://platform.twitter.com/widgets/follow_button.06c6ee58c3810956b7509218508c7b56.uk.html#dnt=false&amp;id=twitter-widget-0&amp;lang=uk&amp;screen_name=thedaynewspaper&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1625922876769" data-screen-name="thedaynewspaper"></iframe>
</div>
