<section class="subcribe">
  <div class="wrapper">
    <div class="subcribe__box">
      <div>
        <h2 class="subcribe__title"> Підписуйтесь на свіжі новини: </h2>
        <ul class="subcribe__list">
          <li>
            <a href="http://www.facebook.com/thedaynewspaper" rel="nofollow" target="_blank"> Facebook </a>
          </li>
          <li>
            <a href="https://t.me/theday_newspaper" rel="nofollow" target="_blank"> Telegram </a>
          </li>
          <li>
            <a href="http://www.youtube.com/user/DayNewspaper" rel="nofollow" target="_blank"> Youtube </a>
          </li>
          <li>
            <a href="http://www.twitter.com/thedaynewspaper" rel="nofollow" target="_blank"> Twitter </a>
          </li>
        </ul>
      </div>
      <div class="subcribe__img">
        <img src="/themes/custom/day_theme/assets/imgs/logo-big.svg" alt="Газета &quot;День&quot;">
      </div>
    </div>
  </div>
</section>
