<section class="book__section dark">
  <div class="section__title-wrap">
    <h2> Бібліотека дня </h2>
    <!-- This link dublicated on mobile devices -->
    <a href="#"> Всі книги </a>
  </div>
  <div class="grid-row">
    <div class="grid-col-3 book-slider _cursor-swipe">
      <article class="news news__small">
        <a href="#">
          <div class="news__small-img">
            <picture>
              <source type="image/webp" srcset="/themes/custom/day_theme/assets/imgs/book-001.webp">
              <img src="/themes/custom/day_theme/assets/imgs/book-001.png" alt loading="lazy" width="244" height="180">
            </picture>
          </div>
        </a>
        <div class="news__small-content">
          <a href="#">
            <h3> Книга «ДЕНЬ ВДЯЧНОСТІ» </h3>
          </a>
          <strong> 265 грн </strong>
          <button> Придбати </button>
        </div>
      </article>
      <article class="news news__small">
        <a href="">
          <div class="news__small-img">
            <picture>
              <source type="image/webp" srcset="/themes/custom/day_theme/assets/imgs/book-002.webp">
              <img src="/themes/custom/day_theme/assets/imgs/book-002.png" alt loading="lazy" width="244" height="180">
            </picture>
          </div>
        </a>
        <div class="news__small-content">
          <a href="#">
            <h3> «Сестра моя, Софія…» - болгарською мовою </h3>
          </a>
          <strong> 200 грн </strong>
          <button> Придбати </button>
        </div>
      </article>
      <article class="news news__small">
        <a href="#">
          <div class="news__small-img">
            <picture>
              <source type="image/webp" srcset="/themes/custom/day_theme/assets/imgs/book-003.webp">
              <img src="/themes/custom/day_theme/assets/imgs/book-003.png" alt loading="lazy" width="244" height="180">
            </picture>
          </div>
        </a>
        <div class="news__small-content">
          <a href="#">
            <h3> «Ave. До 100-ліття Гетьманату Павла Скоропадського» </h3>
          </a>
          <strong> 250 грн </strong>
          <button> Придбати </button>
        </div>
      </article>
      <article class="news news__small">
        <a href="#">
          <div class="news__small-img">
            <picture>
              <source type="image/webp" srcset="/themes/custom/day_theme/assets/imgs/book-001.webp">
              <img src="/themes/custom/day_theme/assets/imgs/book-001.png" alt loading="lazy" width="244" height="180">
            </picture>
          </div>
        </a>
        <div class="news__small-content">
          <a href="#">
            <h3> Книга «ДЕНЬ ВДЯЧНОСТІ» </h3>
          </a>
          <strong> 265 грн </strong>
          <button> Придбати </button>
        </div>
      </article>
      <article class="news news__small">
        <a href="">
          <div class="news__small-img">
            <picture>
              <source type="image/webp" srcset="/themes/custom/day_theme/assets/imgs/book-002.webp">
              <img src="/themes/custom/day_theme/assets/imgs/book-002.png" alt loading="lazy" width="244" height="180">
            </picture>
          </div>
        </a>
        <div class="news__small-content">
          <a href="#">
            <h3> «Сестра моя, Софія…» - болгарською мовою </h3>
          </a>
          <strong> 200 грн </strong>
          <button> Придбати </button>
        </div>
      </article>
      <article class="news news__small">
        <a href="#">
          <div class="news__small-img">
            <picture>
              <source type="image/webp" srcset="/themes/custom/day_theme/assets/imgs/book-003.webp">
              <img src="/themes/custom/day_theme/assets/imgs/book-003.png" alt loading="lazy" width="244" height="180">
            </picture>
          </div>
        </a>
        <div class="news__small-content">
          <a href="#">
            <h3> «Ave. До 100-ліття Гетьманату Павла Скоропадського» </h3>
          </a>
          <strong> 250 грн </strong>
          <button> Придбати </button>
        </div>
      </article>
    </div>
  </div>
  <!-- This link only for mobile devices -->
  <div class="_mob-visible book__link">
    <a href="#"> Всі книги </a>
  </div>
</section>
