<footer class="footer">
  <div class="wrapper">
    <div class="footer__box">
      <div class="footer__copyright">
        <div>
          <div class="footer__logo-wrap">
            <img src="/themes/custom/day_theme/assets/imgs/logo-white.svg" alt="Газета &quot;День&quot;" width="92" height="46">
            <a class="header__link _mob-visible" href="https://day.kyiv.ua/uk/peredplata"> Передплата </a>
          </div>
          <p> © 1997-2021, ТОВ «УКРАЇНСЬКА ПРЕС-ГРУПА» </p>
          <p> Матеріали, надруковані у газеті «День», є власністю видавця, захищені міжнародним і українським законодавством і не можуть бути відтворені у будь-якій формі без письмового дозволу видавця. При використанні наших публікацій посилання на газету обов'язкове. </p>
          <p> Всі матеріали, розміщені на цьому сайті з посиланням на агентство «Інтерфакс-Україна», не підлягають подальшому відтворенню та/чи розповсюдженню у будь-якій формі, окрім як з письмового дозволу агентства «Інтерфакс-Україна». </p>
        </div>
      </div>
      <div class="footer__links">
        <div class="footer__col">
          <h2> Редакція </h2>
          <ul>
            <li>
              <a href="#"> Контакти </a>
            </li>
            <li>
              <a href="#"> Головний редактор </a>
            </li>
            <li>
              <a href="#"> Вакансії </a>
            </li>
            <li>
              <a href="#"> Реклама </a>
            </li>
            <li>
              <a href="#"> Проекти/ініціатива </a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <h2> Газета </h2>
          <ul>
            <li>
              <a href="#"> Передплата </a>
            </li>
            <li>
              <a href="#"> Статті </a>
            </li>
            <li>
              <a href="#"> Архів </a>
            </li>
            <li>
              <a href="#"> Магазин </a>
            </li>
            <li>
              <a href="#"> Фонд “Дня” </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__socials">
      <ul>
        <li>
          <a href="http://www.facebook.com/thedaynewspaper" rel="nofollow" target="_blank">
            <svg class="icon icon-facebook">
              <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/thedaynewspaper" rel="nofollow" target="_blank">
            <svg class="icon icon-twitter">
              <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" rel="nofollow" target="_blank">
            <svg class="icon icon-instagram">
              <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
