.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left-black {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right-black {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-burger-menu {
  width: 1.43em;
  height: 1em;
  fill: initial;
}
.icon-camera {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-pagination-left {
  width: 2.89em;
  height: 1em;
  fill: initial;
}
.icon-pagination-right {
  width: 2.89em;
  height: 1em;
  fill: initial;
}
.icon-play-big {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quote {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-share-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-share-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-share-tg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-share-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-swipe {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
