{% if drupal_view_result('main_section_newspaper', 'block_1') is not empty %}

  <div class="category__article _link-brand _cursor _ofi-cover _img-scale">
    {{ drupal_view('main_section_newspaper', 'block_2') }}
    {{ drupal_view('main_section_newspaper', 'block_1') }}
  </div>

{% endif %}
