{% if drupal_view_result('popular_for_newspapers_category_blocks', 'block_1')
  and drupal_view_result('popular_for_newspapers_category_blocks', 'block_2')
  and drupal_view_result('popular_for_newspapers_category_blocks', 'block_3') is not empty %}
  <section class="news__section news-section-popular">
    <div class="section__title-wrap">
      <h2>{{ 'Popular'|t }}</h2>
    </div>

    <div class="grid-row">
      <div class="grid-row-2-col-1 _cursor">
        {{ drupal_view('popular_for_newspapers_category_blocks', 'block_1') }}
      </div>

      <div class="grid-row-2-col-2 _cursor">
        {{ drupal_view('popular_for_newspapers_category_blocks', 'block_2') }}
        {{ drupal_view('popular_for_newspapers_category_blocks', 'block_3') }}
      </div>
    </div>
  </section>
{% endif %}
